.cctv {
  background: linear-gradient(rgba(25, 52, 94, 0.7), rgba(25, 52, 94, 0.7)),
    url(../img/cctv/jumbotronCctv.png);
  background-size: cover;
  background-position: center;
}

.printer {
  background: linear-gradient(rgba(25, 52, 94, 0.7), rgba(25, 52, 94, 0.7)),
    url(../img/printer/jumbotronPrinter.png);
  background-size: cover;
  background-position: center;
}

.laptop {
  background: linear-gradient(rgba(25, 52, 94, 0.7), rgba(25, 52, 94, 0.7)),
    url(../img/laptop/jumbotronLaptop.png);
  background-size: cover;
  background-position: center;
}

.home {
  background: linear-gradient(rgba(25, 52, 94, 0.7), rgba(25, 52, 94, 0.7)),
    url(../img/jumbotronHome.png);
  background-size: cover;
  background-position: center;
}

.bgNav {
  backdrop-filter: blur(5px);
}
